# Different ways of creating dataframes

1. Using CSV
2. Using Excel
3. From python dictionary
4. From list of tuples
5. From list of dictionaries

In [1]:
import pandas as pd

df = pd.read_csv('data/weather.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [3]:
# df = pd.read_excel('...xlsx', 'Sheet1')

In [5]:
"""
    df = pd.DataFrame({
        'day': [...],
        'temperature': [...]
    })
"""

"\n    df = pd.DataFrame({\n        'day': [...],\n        'temperature': [...]\n    })\n"

In [6]:
"""
    weather_data = [
        ('1/1/2017', 32, 6, 'Rain'),
        ...
    ]
    df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
"""

"\n    weather_data = [\n        ('1/1/2017', 32, 6, 'Rain'),\n        ...\n    ]\n    df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])\n"

In [7]:
"""
    weather_data = [
        {'day': '...', 'temperature': '...'},
        {'day': '...', 'temperature': '...'},
    ]
    df = pd.DataFrame(weather_data)
"""

"\n    weather_data = [\n        {'day': '...', 'temperature': '...'},\n        {'day': '...', 'temperature': '...'},\n    ]\n    df = pd.DataFrame(weather_data)\n"